.section {
  display: flex;
  align-items: center;
  min-width: 200px;
  cursor: pointer;
  color: darkgray;
  border-width: 0 !important;
  padding: 15px;
  border-bottom-width: 2px;
}

.section > h4 {
    font-size : 15px;
    margin-left: 15px;
}

.section--selected {
  background-color: whitesmoke;
  border-width: 3px !important;
}
.section:hover {
  background-color: whitesmoke;
  border-width: 3px !important;
}
